{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Clownix{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav class="sidebar-nav">
        <h2 class="sibebar-nav__title">
            Разделы
        </h2>
        <ul class="sidebar-nav__list">
            <li class="sidebar-nav__item">
                Общие
            </li>
            <li class="sidebar-nav__item">
                Сети
            </li>
            <li class="sidebar-nav__item">
                Память
            </li>
        </ul>
    </nav>

    <main class="main container">
        
    </main>
    {% block content %}{% endblock %}
  </body>
</html>
